<div class="col-xs-12 col-md-9 ">
  <div class="owl-carousel">
    <% @latest_news.each do |news| %>
      <h3><%= news.title %></h3>
      <p><%= news.content %></p>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(".owl-carousel").owlCarousel();
</script>