.navbar-inverse{
  background-color: #292c2f;
}
.dropdown-menu li a:hover {
  background-color:#286090;
  color:#fff;
}

#error_explanation li, h2{
  color:red;
}
.errspan {
  color: grey;
  float: left;
  position: relative;
  right: -10px;
  top: 35px;
}