.navbar-inverse{
  background-color: #292c2f;
}
.dropdown-menu li a:hover {
  background-color:#286090;
  color:#fff;
}

#error_explanation li, h2{
  color:red;
}
.errspan {
  color: grey;
  float: left;
  position: relative;
  right: -10px;
  top: 35px;
}
.caption-link h3 {
  font-size: 20px;
  padding-top:12px;
  color:#fff;
}
.caption-link {
  background:rgba(0, 0, 1, 0.5) none repeat scroll 0 0;
  margin-bottom: -3px;
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px;
  height:50px;
}

.thumb a {
  text-decoration: none;
}
